---
import Layout from "@/layouts/MainLayout.astro";
---

<Layout title="Panel de administración">
  <h1
    class="text-center p-8 text-3xl font-semibold whitespace-nowrap dark:text-white"
  >
    Panel de administración
  </h1>
</Layout>
