---
import Layout from "@/layouts/MainLayout.astro";
import UserCard from "@/components/UserCard.astro";

const URL = import.meta.env.URL_API_USERS;

const { user } = Astro.locals;
const { id } = user;

const userTypeColor = (type: "Cliente" | "Proveedor" | "Vendedor") => {
  if (type === "Cliente") return "bg-blue-100 text-blue-800";
  if (type === "Proveedor") return "bg-yellow-100 text-yellow-800";
  if (type === "Vendedor") return "bg-green-100 text-green-800";
  return "bg-gray-100 text-gray-800";
};

const response = await fetch(URL);
const data = (await response.json()) as {
  id: string;
  identification: {
    code: string;
    name: string;
    number: string;
  };
  name: string;
  image?: string;
  role?: string;
  userType: ("Cliente" | "Proveedor" | "Vendedor")[];
}[];
const users = data
  .filter((user) => user.id !== id)
  .map((user) => {
    const { id, identification, name, image, role, userType } = user;
    const types = userType.map((type) => {
      return {
        type,
        color: userTypeColor(type)
      };
    });

    return {
      id,
      identification,
      name,
      image:
        image ??
        `https://ui-avatars.com/api/?name=${name.replaceAll(" ", "+")}`,
      role,
      userType: types
    };
  });
---

<Layout title="Usuarios">
  <h1
    class="text-center p-8 text-3xl font-semibold whitespace-nowrap dark:text-white"
  >
    Usuarios
  </h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {users.map((user) => <UserCard user={user} />)}
  </div>
</Layout>
